<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>ExpenssesApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.Exiade.Expensses</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>ExpenssesApp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleLocalizations</key>
	<string>Nous avons besoin d&apos;acceder a votre localisation pour une meuilleur experience .</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nous avons besoin de la localisation pour une meuilleur exp utilisateur.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Nous avons besoin du calendrier pour une meuilleur exp utilisateur.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Nous avons besoin du bluetooth pour une meuilleur exp utilisateur.</string>
</dict>
</plist>
